*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-image: url(../images/bg-2.png);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    overflow: hidden;
    width: 1140px;
    background-color: orangered;
    padding: 10px;     
    margin-bottom: 20px;
}

.logo{
    float: left;
    margin-right: 10px;
}

.categorias{
    float: left;
    line-height: 40px;
}

.login-registro{
    float: right;
    line-height: 40px;
}

header div a{
    padding: 5px;
}

section{
    background-color: white;
}

.productos{   
    float: left;
    width: 800px;
    margin: 0 20px 20px 0;
    overflow: hidden;
}

.productos article{
    float: left;
    width: 380px;
    margin: 10px;
}

.productos img{
    width: 100%;
}

.detalle{
    display: inline-block;
    background-color: orangered;
    margin: 5px 0;
    padding: 10px;
}

aside{ 
    float: left;
    width: 320px;
}

.aside-titulo{
    background-color: white;
    padding: 10px;
    margin: 0 0 20px 0;
}

.tutoriales{
    overflow: hidden;
    margin-bottom: 20px;
    background: transparent;
}

.tutoriales article{
    float: left;
    background-color: white;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.tutoriales img{
    float: left;
    margin-right: 10px;
}

.tutoriales article:last-child{
    margin-bottom: none;
}

.publicidad{
    overflow: hidden;
}

.publicidad article{
    float: left;
    width: 100%;
    padding: 10px;
}

.formulario-login{
    width: 1140px;
}

form{
    width: 350px;
    margin: 0 auto;
}

form h1{
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}


input#email, input#password, input#name{
    width: 100%;
    padding: 5px;
}

.recordarme{
    text-align: right;
}

.alerta{
    color: orangered;
    font-size: 12px;
}

.boton{
    padding: 10px 25px;
    background-color: #3c8dbc;
    border-radius: 10%;
    border: 1px solid #3c8dbc;
    color: white;
    margin: 10px 0;
}

textarea{
    width: 100%;
}



